
.main-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto;
  gap: 10px;
  width: 90%;
  margin: auto;
}
.container > img {
  width: 80%;
  aspect-ratio: 1/1;
  
}
.container{
  padding: 5px;
  border: 2px dashed;
  text-align: center;
}